import type { Comment } from "#src/api";
export interface Input {
  comment: Comment;
}

<const/{ comment }=input>

<li class="comment">
  <div class="by">
    <a href=`/user/${comment.user}`>
      ${comment.user}
    </a>
    ${` ${comment.time_ago}`}
  </div>

  <div class="text">
    $!{comment.content}
  </div>

  <if=comment.comments.length>
    <let/open=true>

    <div class=["toggle", { open }]>
      <a role="button" onClick() { open = !open }>
        ${open ? "[-]" : "[+] comments collapsed"}
      </a>
    </div>
    <ul class="comment-children" style={ display: open ? undefined : "none" }>
      <for|nested| of=comment.comments>
        <comment comment=nested/>
      </for>
    </ul>
  </if>
</li>
